$calendarWidth: 350px;
$standardBlue: rgb(16, 135, 255);
.clock-slider {
  width: $calendarWidth;
  max-width: $calendarWidth;
  height: 50px;
  border: 1px solid grey;
}
.clock-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: $standardBlue;
  color: white;
  cursor: pointer;
  border: 5px solid $standardBlue;
  box-sizing: border-box;
  border-radius: 25px;
}
.clock-thumb.active {
  background-color: $standardBlue;
}
.clock-track {
  position: relative;
  background: $standardBlue;
}
.clock-track.clock-track-1 {
  background: $standardBlue;
}
.clock-track.clock-track-2 {
  background: $standardBlue;
}
.clock-slider .clock-track {
  top: 20px;
  height: 10px;
}
.clock-slider .clock-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}