.irudd-when-container {
    min-width: 800px;
    max-width: fit-content;
    min-height: 100vh;
    gap: 25px;
}

@media screen and (max-width: 800px) {
    .irudd-when-container {
        min-width: 100vw;
    }
}